$global-bg-color = #3e3c3c
$bg-color = #fbfafa
$active-lock-color = gainsboro
$inactive-lock-color = #616161
$text-color = #928d8a
$text-color-fallback = #928d8a
$text-link-color = #d0b487

body
  font-family: 'Roboto', monospace
  letter-spacing: 0.025em
body, html, .hero-block
  height: 100vh
  width: 100vw
  background: $global-bg-color
a
  cursor: pointer
  text-decoration: none

.mdl-layout
  color: $text-color-fallback
  color: $text-color
.mdl-layout__header--transparent
  background: rgb(0, 0, 0)
  background: rgba(255, 0, 0, 0)
.mdl-layout__content
  margin-top: 0.9em
  position: relative
.mdl-card__actions
  padding: 1em

.mdl-radio__outer-circle
  border: 2px solid grey

.mdl-card__subtitle-text
  color: inherit

.mdl-layout__header-row
  padding-left: 5.5em

.logo-text
  font-size: 1.2em
  font-weight: 100
.mark-sign
  font-size: 70%
  vertical-align: super
.mdl-layout__drawer
  .logo-text
    color: inherit

.nav-sort
  .mdl-radio
    font-size: 95%
    margin-right: 0.9em
    padding-left: 1.4em
    &:last-child
      margin-right: 0

.mdl-layout__drawer
  .mdl-layout-title
    background: blanchedalmond
.sidenote
  color: #757575
  margin-top: 3em
  margin-left: 1em

.hero-cell-link
  display: inline-block
  position: relative
.hero-cell-title
  background: linear-gradient(to bottom, rgba(0,0,0,0) 40%, rgba(20,20,20,0.8) 100%)
  display: block
  font-size: 1.8em
  margin: 0
  position: absolute
  bottom: 0
  padding: 3em 5% 0.6em
  width: 90%
.hero-thumb
  max-width: 100%

.lock-toggle
  color: $inactive-lock-color
  display: inline-block
  &>span
    color: $active-lock-color
    margin-left: 0.5em
.active
  color: $active-lock-color

.hero-card
  background: $bg-color
  margin: 0 auto
  width: auto
  max-width: 60em
  a
    color: $text-link-color
.hero-card-title
  display: block
  margin-bottom: 0.7em
  max-height: 17em
  overflow: hidden
.hero-card-title, .hero-what, .hero-quote
  color: $text-color-fallback !important
  color: $text-color !important
.hero-img, .hero-thumb
  border-radius: 0.4em
.hero-img
  float: right
  margin-left: 0.5em
  max-width: 40%
.hero-intro
  font-size: 95%
  letter-spacing: normal
.hero-what
  font-size: 110%
  line-height: 1.3
.hero-quote
  font-size: 100%
  margin: 1em 0
  word-spacing: 0.1em
  &:before
    content: '" '
    font-size: 255%
.hero-explore-title
  margin-top: 0.5em
  margin-bottom: 0.3em
.hero-explore-item
  line-height: 2.2
  margin: 0 1.1em
// .hero-name, .hero-intro
// .hero-name
  // mix-blend-mode: difference
  // position: relative
  // left: -20%
  // text-align: center
  // text-shadow: 0.05em 0.05em 25px white, 0.05em 0.05em 25px white, 0.05em 0.05em 25px white
// .hero-intro
//   font-size: 110%
// .hero-what
//   font-size: 140%
// @media screen and (min-width: 600px)
//   .hero-img
//     margin: 3vw
//     margin-bottom: 1em
//     float: left
//     max-width: 50vw
//   .explore-list__item
//     display: inline-block
//     float: right

.slick-slider
  user-select: text !important
.slick-list.draggable
  user-select: none !important

#top
  position: absolute
  top: 0
#to-the-top-btn
  color: grey
  color: rgba(41, 41, 41, 0.48)
  position: fixed
  bottom: 10vh
  right: 3%
  &>.fa
    position: relative
    top: 8%

.btn-wo-style
  background: none
  border: none
.save-spaces
  white-space: pre-wrap
