body, html, .hero-block
  height: 100vh
  width: 100vw
  background: white

.mdl-layout__header--transparent
  background: rgb(0, 0, 0)
  background: rgba(255, 0, 0, 0)

.hero-block
  background: blue
.hero-img
  max-width: 100vw
.hero-name
  text-align: center
@media screen and (min-width: 600px)
  .hero-img
    border: 2em solid white
    float: left
